.equipment{
    position: absolute;
    top: 10vh;
    right: 110vw;
    width: 64px;
    height: 64px;
    background-image: url('../../../public/assets/images/bag.png');
}

.equipment:hover{
    transition: 0.3s;
    top: 9.5vh;
    rotate: 36deg;
    cursor: pointer;

}

.eq-container{
background-image: url('../../../public/assets/images/wood.jpg');
box-shadow: 0 -5px 10px -2px rgba(0, 0, 0, 0.75);
position: absolute;
display: block; 
bottom: 0px;
font-size: 32px;
width: 80vw;
}

ul{
    position: relative;

    display: flex; 

}
li{
    list-style-type: none;
    /* width: 30px;
    background-color: aquamarine; */
}

li:hover{
    cursor: pointer;
}

.wallet{
    font-size: 32px;
    width: 140px;
    margin-left: 1110px;
    background-color: cadetblue;
    position: absolute;
    top: 10px;
}
