.sell-button, .buy-button{
    display: flex;

    width: 40vw;
    height: 7vh;
    background-image: url('../../../../public/assets/images/wood.jpg');
    font-size: 30px;
    
  
  }
  
  .buttons-container{
    position: absolute;
    margin-top: 80px;
    display: flex;

    width: 80vw;


  }

  .sell-button:hover, .buy-button:hover{
    cursor: pointer;
    background-color: #28684765;
  }
  
  .customer{
    margin: 2px;
    width: 233px;
    height: 250px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.315);
    border: 3px solid #000000;
  }
  
  .needs{
    position: absolute;
    margin-left: 5vw;
    width: 128px;
    height: 128px;
    background-image: url('../../../../public/assets/images/message.png');

  }
  
  .picture {
    margin-top: 100px;
  }

  

.customers{
  margin-left: 2vw;
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  /* display: block; */
  /* justify-content:space-between; */
  width: 76vw;
  position: absolute;
 
}

p{
  margin-left: 20px;
  margin-top: 25px;
  
}


.needs:hover{
  cursor: pointer;
}

.getClientButton {
  position: absolute;
  background-image: url('../../../../public/assets/images/wood.jpg');
  bottom: 10vh;
  left: 50%;
  
}

.sellButton{
  top: -40px;
  left: 122px;
  border: 1px solid #000000;

}