.clock {
    position: absolute;
    margin-top: 10vh;
    left: calc(50% - 300px);
    display: flex;
    width: 600px;
    background-color: #286847;
    border: 1px solid #64c78d;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #ffd8d8;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 15px;
    text-align: center;
    justify-content: center;
  }

.clock span {
    font-size: 90px;
    font-weight: bold;
    cursor:default;
    margin-right: 20px;
}





button{
    margin-right: 5px;
    background-color: #286847;
    border: 1px solid #64c78d;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #ffd8d8;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  width: 110px;
  text-align: center;
  transition: transform 150ms, box-shadow 150ms;

}

button:hover {
  box-shadow: rgba(0, 0, 0, .35) 0 3px 9px 0;
  transform: translateY(-2px);
}

