* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #002007;
  display: flex;
  justify-content: center;  
}
.bgc{
  
  width: 80vw;
  background-color: #65bb90;
}

header{
  display: flex;
  justify-content:space-between;
  border-radius: 2px;
  width: 80vw;
  height: 50px;
  
  background-color: #286847;
}

h1{  
  padding-left: 20px;
  font-size: 30px;
  color: rgb(116, 10, 31);
  text-shadow:2px 2px  rgba(0, 0, 0, 0.253) ;
  font-family: 'Arial Narrow Bold', sans-serif;}


.Callendar{
  height: 94vh;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.267);
}

.dayCallendar:first-child{
  background-color: rgba(161, 146, 146, 0.267);

}


.dayCallendar{
  display: flex;
  height:  6.9%;
  border: 1px solid green;
  cursor: pointer;
  list-style: none;
}


.dayCallendar strong{
  justify-content:start;

  font-size: 20px;
  color: #000;
}

.tomato{
  display: flex;
  justify-content: center;
  width: 50px;
  background-image: url('../public/assets/images/tomato.png');
  background-size: contain;
  font-size: 40px;
}

.seed{
  display: flex;
  justify-content: center;
  width: 50px;
  background-image: url('../public/assets/images/seed.png');
  background-size: contain;
  font-size: 40px;
}

.clock{
  position: absolute;
  margin-left: 37vw;
  margin-top: 10vh;
  display: flex;
  width: 340px;
  background-color: rgb(76, 109, 109);
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 90px;
  font-weight: bold;

}
.dayCallendar div {
  position: absolute;
  display: flex;
  justify-content:start;
  background-color: #00200746;
  width: 150px;
  height: 30px;
  margin-top: 30px;
}

.dayCallendar div img{
  display: flex;
}


